/*

    1.0 SETTINGS
        1.1 CLASSES
        1.2 FORMS
    2.0 HEADER
    3.0 LOGIN & REGISTER
    4.0 DASHBOARD
        4.1 CHART PERCENTAGE
        4.2 CHART BAR
        4.3 CHART RISKS
        4.4 CHART COSTS
        4.5 ANNOTATION
    5.0 SETTINGS
        5.1 ACCOUNTS
        5.2 FEEDBACKS
    9.0 ANIMATIONS

*/

/*

    RED:#f43e54
         rgb(244,62,83)

    TUR:#009999
         rgb(0,153,153)

*/

/*  1.0 SETTINGS  */

*,*:before,*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
    }

@font-face{
    font-family:"Graphik";
    font-weight:400;
    src:url('fonts/Graphik-Regular.woff2') format('woff2'),
        url('fonts/Graphik-Regular.woff') format('woff')
    }

@font-face{
    font-family:"Graphik";
    font-weight:500;
    src:url('fonts/Graphik-Medium.woff2') format('woff2'),
        url('fonts/Graphik-Medium.woff') format('woff')
    }

@font-face{
    font-family:"Graphik";
    font-weight:700;
    src:url('fonts/Graphik-Bold.woff2') format('woff2'),
        url('fonts/Graphik-Bold.woff') format('woff')
    }

html{
    height:100%;
    background:#fff
    }

body{
    position:relative;
    min-height:100%;
    margin:0;
    padding:.1px 0;
    font:14px/1em "Graphik",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing:subpixel-antialiased;
    background:#fcfcfc
    }

img{
    display:block;
    max-width:100%;
    height:auto !important;
    margin:0
    }

h1,h2,h3,h4,h5{
    margin:-8px 0;
    font:32px/1.5em "Graphik",Helvetica,Arial,sans-serif;
    color:#555
    }

p,ol,ul{
    margin:22px 0;
    font:16px/2em "Graphik",Helvetica,Arial,sans-serif;
    color:#999
    }

a{
    text-decoration:none;
    color:#8b7355;
    transition:.3s
    }

input,textarea,select,button{
    padding:0;
    background:transparent;
    border:0;
    border-radius:0;
    outline:none;
    -webkit-appearance:none
    }

input[type="submit"],
button{
    cursor:pointer
    }   

    /*  1.1 CLASSES  */

    .width{
        width:90%;
        margin-left:auto;
        margin-right:auto
        }

    .width.w-s{
        max-width:360px
        }

    .width.w-m{
        max-width:1000px
        }

    .center{
        opacity:0
        }

    .center_margin{
        margin:120px auto
        }

    .center_absolute{
        position:absolute;
        top:45%;
        left:50%;
        margin:30px auto 0;// take into consideration of the logo height
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%)
        }

    .cta{
        position:relative;
        display:inline-block;
        vertical-align:top;
        top:0;
        height:45px;
        padding:0 30px;
        overflow:hidden;
        text-align:center;
        letter-spacing:.05em;
        font:16px/46px "Graphik",Helvetica,Arial,sans-serif;
        color:#fff;
        background:#009999;
        border:none;
        box-shadow:none;
        outline:none;
        cursor:pointer;
        transition:.3s
        }

    .cta:hover{
        opacity:.8
        }

    .cta.c-red{
        background:#f76576
        }

    .cta.c-red-light{
        background:#f76576
        }

    .cta.c-tur{
        background:#009999
        }

    .cta.c-tur-light{
        background:#66cccc
        }

    .cta.c-full{
        width:100%
        }

    .cta-inline{
        color:#009999
        }

    .cta-inline:after{
        content:"";
        display:inline-block;
        width:14px;
        height:14px;
        vertical-align:-1px;
        background:url(../img/icon-arrow-right.svg) center/12px no-repeat;
        margin:0 0 0 9px
        }

    .cr-5{
        color:#555
        }

    .cr-9{
        color:#999
        }

    .bg{
        background:#fff;
        box-shadow:0 0 0 1px #eee
        }

    .arrow{
        display:inline-block;
        height:12px !important;
        margin:0 0 0 5px;
        vertical-align:-1px;
        }

    /*  1.1 CLASSES  */

    /*  1.2 FORMS  */

    input,textarea,select,button{
        padding:0;
        background:transparent;
        border:0;
        border-radius:0;
        outline:none;
        -webkit-appearance:none
        }

    .form img{
        display:block;
        max-width:200px;
        margin:0 auto 60px
        }

    .form h2,
    .form h3{
        margin:-8px 0 22px
        }

    .field{
        position:relative;
        margin:0 0 10px
        }

        .field-row{
            font-size:0
            }

        .field.half{
            display:inline-block;
            width:calc(50% - 5px);
            margin:0 10px 10px 0
            }

        .field.half:nth-of-type(2n){
            margin:0 0 10px
            }

    .field label{
        position:absolute;
        width:100%;
        top:0;
        left:0;
        padding:0 15px;
        font:16px/47px "Graphik",Helvetica,Arial,sans-serif;
        color:#999;
        pointer-events:none
        }

    .field input,
    .field select{
        width:100%;
        height:45px;
        padding:0 15px;
        text-transform:lowercase;
        font:16px/45px "Graphik",Helvetica,Arial,sans-serif;
        color:#000;
        background:#fff;
        box-shadow:0 0 0 1px #eee
        }

    .field select{
        color:#999;
        background:#fff url(../img/down-arrow.png) right/contain no-repeat
        }

        .field.error:after{
            content:"*";
            position:absolute;
            top:0;
            right:15px;
            font:24px/56px "Graphik",Helvetica,Arial,sans-serif;
            color:#b55b2a;
            pointer-events:none
            }

        .field.error input,
        .field.error select{
            background:#fbb;
            box-shadow:0 0 0 1px #fbb
            }

        .field.error label,
        .field.error label{
            color:#b55b2a
            }

    .field textarea{
        width:100%;
        max-width:100%;
        padding:7.5px 15px;
        font:16px/2em "Circular",Helvetica Neue,Helvetica,Arial,sans-serif
        }

    .field-subtext{
        margin:30px 0 0;
        text-align:center;
        letter-spacing:.05em;
        font:12px/1.5em "Circular",Helvetica Neue,Helvetica,Arial,sans-serif;
        color:#fff;
        opacity:.6
        }

    .field-subtext a,
    .field-subtext button{
        letter-spacing:.05em;
        font:12px/1.5em "Circular",Helvetica Neue,Helvetica,Arial,sans-serif;
        color:#fff
        }

    .field-subtext .error{
        display:none;
        margin:0 0 10px;
        color:#fff
        }

    .field-subtext{
        color:#999
        }

    /*  1.2 FORMS - END  */

/*  1.0 SETTINGS - END  */

/*  2.0 HEADER  */

#header{
    position:fixed;
    top:45px;
    left:45px;
    z-index:100
    }

#header #logo{
    position:relative;
    display:block;
    width:60px;
    height:60px;
    background:#f43e54;
    cursor:pointer;
    z-index:110
    }

#header #logo img{
    position:absolute;
    width:30px;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
    }

#header #navigation{
    position:absolute;
    top:0;
    left:0;
    padding:0 15px 0 75px;
    white-space:nowrap;
    font-size:0;
    background:#fff;
    box-shadow:0 0 20px 5px rgba(0,0,0,.1);
    transition:.15s;
    z-index:105
    }

#header #navigation a{
    position:relative;
    display:inline-block;
    padding:0 15px;
    text-transform:uppercase;
    letter-spacing:.15em;
    font:500 12px/60px "Graphik",Helvetica,Arial,sans-serif;
    color:#111
    }

#header #navigation #nav-logout{
    color:#009999
    }

    html.scroll #header #navigation{
        pointer-events:none;
        opacity:0
        }

    #header:hover #navigation{
        pointer-events:auto !important;
        opacity:1 !important
        }

    html.link_account_notification.scroll #header:after,
    html.link_account_notification #header #nav-settings:after{
        content:"";
        position:absolute;
        display:block;
        top:-14px;
        right:-6px;
        width:12px;
        height:12px;
        margin:10px 0;
        border-radius:100%;
        background:#e6a949;
        pointer-events:none;
        z-index:110
        }

    html.link_account_notification #header #nav-settings:after{
        top:6px;
        right:8px;
        width:8px;
        height:8px
        }

        html.link_account_notification #header:hover::after{
            opacity:0;
            transition:.3s            
            }

/*  2.0 HEADER - END  */

/*  3.0 LOGIN & REGISTER  */

#page-login,
#page-recover-password,
#page-register{
    background:#f43e54
    }

#login-container .cta,
#register-container .cta{
    margin:20px 0 0
    }

#login-here{
    position:fixed;
    top:30px;
    right:30px;
    font:14px/1em "Graphik",Helvetica,Arial,sans-serif;
    color:#fff
    }

#login-here strong{
    font-weight:500
    }

#morning-star{
    position:fixed;
    width:90%;
    max-width:1400px;
    left:50%;
    bottom:0;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    letter-spacing:.05em;
    text-align:center;
    font:11px/1.5em "Circular",Helvetica Neue,Helvetica,Arial,sans-serif;
    color:rgba(255,255,255,.6)
    }

/*  3.0 LOGIN & REGISTER - END  */

#container{
    margin:180px auto
    }

#page-dashboard #container{
    margin:auto
    }

.section{
    padding:.1px 0;
    min-height:100vh;
    border-bottom:1px solid #eee
    }

.section:last-of-type{
    border-bottom:none
    }

/*  4.0 DASHBOARD  */

    #chart-slider{
        position:fixed;
        bottom:30px;
        right:30px;
        list-style:none;
        margin:0;
        padding:7px;
        background:#fff;
        box-shadow:0 0 20px 5px rgba(0,0,0,.05);
        border-radius:15px;
        z-index:100
        }

    #chart-slider li{
        width:15px;
        height:15px;
        margin:6px 0;
        background:transparent;
        box-shadow:inset 0 0 0 2px #ccc;
        border-radius:100%;
        cursor:pointer;
        transition:.3s
        }

    #chart-slider li.active{
        background:#ccc
        }

    .slider{
        position:relative;
        margin:0 !important;
        padding:0 !important
        }

    .slider .slide{
        display:none
        }

    .slider .slide:first-of-type,
    .slider.loaded .slide{
        display:block !important
        }

    .slick-slider{
        display:block;
        position:relative;
        overflow:hidden;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        -webkit-touch-callout:none;
        -khtml-user-select:none;
        -ms-touch-action:pan-y;
        touch-action:pan-y;
        -webkit-tap-highlight-color:transparent
        }

    .slick-slider .slick-list{
        position:relative;
        display:block;
        overflow:hidden;
        margin:0;
        padding:0
        }

    .slick-slider .slick-list:focus{
        outline:none
        }

    .slick-slider .slick-list.dragging{
        cursor:pointer;
        cursor:hand
        }

    .slick-slider .slick-list,
    .slick-slider .slick-list .slick-track{
        height:100%;
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        -o-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
        }

    .slick-slider .slick-list .slick-track{
        position:relative;
        display:block;
        top:0;
        left:0
        }

    .slick-slider .slick-list .slick-track:after{
        clear:both
        }

    .slick-slide{
        float:left;
        height:100%;
        min-height:1px;
        list-style:none
        }

    .slick-slide img{
        display:block;
        vertical-align:middle
        }

    .slick-slide.slick-loading img{
        display:none
        }

    .slick-slide.dragging img{
        pointer-events:none
        }

    .slick-vertical .slick-slide{
        display:block;
        height:auto;
        border:1px solid transparent
        }

    .slick-slider button{
        position:absolute;
        display:block;
        top:50%;
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%);
        width:45px;
        height:45px;
        font-size:0;
        cursor:pointer;
        z-index:10
        }

    .slick-slider button hr{
        position:absolute;
        width:30px;
        height:2px;
        top:50%;
        left:50%;
        background:#aaa;
        outline:none;
        border:none;
        transition:.15s
        }

    .slick-slider button.slick-prev hr:last-of-type,
    .slick-slider button.slick-next hr:first-of-type{
        -webkit-transform:translate(-50%,-50%) rotate(60deg);
        transform:translate(-50%,-50%) rotate(60deg);
        margin-top:-12px
        }

    .slick-slider button.slick-prev hr:first-of-type,
    .slick-slider button.slick-next hr:last-of-type{
        -webkit-transform:translate(-50%,-50%) rotate(-60deg);
        transform:translate(-50%,-50%) rotate(-60deg);
        margin-top:12px
        }

    .slick-slider button.slick-prev hr:first-of-type{
        margin-top:-12.5px
        }

    .slick-slider button.slick-prev hr:last-of-type{
        margin-top:12.5px
        }

    .slick-slider button:hover hr{
        background:#999
        }

    .slick-slider button.slick-disabled hr{
        background:#ddd;
        cursor:not-allowed
        }

    .slick-slider button.slick-prev{
        left:30px
        }

    .slick-slider button.slick-next{
        right:30px
        }

    .slide{
        position:relative;
        height:100vh;
        width:100%
        }

    .slide .chart{
        position:absolute;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%)
        }

    .slide .slide-info{
        position:absolute;
        bottom:30px;
        left:30px;
        max-width:420px
        }

    .slide .slide-info h2{
        margin:0 0 15px;
        font-size:30px;
        line-height:1em
        }

    .slide .slide-info p{
        font-size:14px;
        margin:0
        }

    .chart{
        // width:90%;
        width:800px
        }

    .chart,
    .chart ul{
        white-space:nowrap;
        margin:0;
        padding:0;
        font-size:0;
        list-style:none
        }

    .chart ul,
    .chart li{
        position:relative;
        }

    .chart h3,
    .chart h4{
        margin:0;
        text-align:center;
        text-transform:uppercase;
        letter-spacing:2px;
        font:500 12px/1em "Graphik",Helvetica,Arial,sans-serif;
        color:#000
        }

    /*  4.1 CHART PERCENTAGE  */

    .percentage_chart ul,
    .percentage_chart li{
        display:inline-block;
        height:90px
        }

    .percentage_chart ul:nth-of-type(1){background:#cbdf8c}
    .percentage_chart ul:nth-of-type(2){background:#9cbdbe}
    .percentage_chart ul:nth-of-type(3){background:#f79594}
    .percentage_chart ul:nth-of-type(4){background:#e6ded5}

    /*  fallback colors  */
    .percentage_chart ul:nth-of-type(5){background:#b8d86b}
    .percentage_chart ul:nth-of-type(6){background:#e6a949}
    .percentage_chart ul:nth-of-type(7){background:#f79594}
    .percentage_chart ul:nth-of-type(8){background:#dddddd}

    .percentage_chart span{
        position:absolute;
        top:-60px;
        left:50%;
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%);
        }

    .percentage_chart span:after{
        content:"";
        position:absolute;
        top:0;
        left:50%;
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%);
        height:45px;
        width:1px;
        margin:15px auto 0;
        background:#aaa
        }

        .percentage_chart ul:nth-of-type(even) > span{
            top:-90px
            }

        .percentage_chart ul:nth-of-type(even) > span:after{
            height:75px
            }

        .percentage_chart li:first-of-type{
            background:rgba(0,0,0,.1) url(../img/stripes.png) center/120px repeat
            }

        .percentage_chart li span{
            top:auto;
            bottom:-60px
            }

        .percentage_chart li span:after{
            top:-48px;
            margin:0;
            background:#ccc
            }

            .percentage_chart li:nth-of-type(2) span{
                bottom:-90px
                }

            .percentage_chart li:nth-of-type(2) span:after{
                top:-78px;
                height:75px
                }

            .percentage_chart ul:nth-of-type(4) li:nth-of-type(2) span{
                bottom:-120px
                }

            .percentage_chart ul:nth-of-type(4) li:nth-of-type(2) span:after{
                top:-108px;
                height:90px
                }

        .percentage_chart li span h3{
            font-size:12px;
            color:#999
            }

    /*  4.1 CHART PERCENTAGE - END  */
    
    /*  4.2 CHART BAR  */

    .bar_chart{
        height:360px;
        text-align:right;
        font-size:0;
        border-left:1px solid #ccc;
        border-bottom:1px solid #ccc
        }

    .bar_chart .y-title{
        position:absolute;
        transform-origin:left top 0;
        -webkit-transform:rotate(-90deg) translateX(-50%);
        transform:rotate(-90deg) translateX(-50%);
        float:left;
        top:50%;
        left:-30px
        }

    .bar_chart .values{
        position:absolute;
        width:100%;
        left:0;
        margin:0 0 -6px;
        padding:0 10px;
        text-align:left;
        font:10px/20px "Graphik",Helvetica,Arial,sans-serif;
        color:#999
        }

    .bar_chart .values hr{
        position:relative;
        width:calc(100% + 20px);
        left:-10px;
        height:1px;
        background:#eee;
        border:none;
        outline:none
        }

    .bar_chart ul{
        display:-webkit-inline-flex;
        display:inline-flex;
        align-items:flex-end;
        -webkit-align-items:flex-end;
        -webkit-justify-content:center;
        justify-content:center;
        height:100%;
        margin:0 10px;
        z-index:10
        }

    .bar_chart ul h3{
        position:absolute;
        bottom:-25px
        }

    .bar_chart li{
        position:relative;
        display:inline-block;
        margin:0 5px;
        background:#f79594
        }

    .bar_chart li:nth-of-type(2){
        background:#9cbdbe
        }

    .bar_chart li:nth-of-type(3){
        background:#cbdf8c
        }

        #contribution-and-withdrawals .bar_chart li{
            background:#9cbdbe
            }

        #contribution-and-withdrawals .bar_chart li:nth-of-type(2){
            background:#f79594 
            }

        #contribution-and-withdrawals .bar_chart li:nth-of-type(3){
            background:#cbdf8c
            }

    .bar_chart li span{
        position:absolute;
        width:100%;
        top:-15px;
        left:0;
        text-align:center;
        font-size:10px;
        }

    .square{
        display:inline-block;
        width:12px;
        height:12px;
        vertical-align:-1px;
        margin:0 5px 0 8px
        }

    .square:first-of-type{
        margin-left:0
        }

    /*  4.2 CHART BAR - END  */
    
    /*  4.3 CHART RISKS  */

    .half_pie_chart{
        margin:60px 0 0;
        width:400px;
        height:400px;
        overflow:hidden;
        clip:rect(0px,400px,200px,0px);
        background:#eee;
        border-radius:100%
        }

    .half_pie_chart ul{
        width:100%;
        height:100%
        }

    .half_pie_chart li{
        position:absolute;
        top:50%;
        left:50%;
        width:400px;
        height:400px;
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        clip:rect(0px,400px,200px,0px);
        }

    .half_pie_chart li:nth-of-type(1){background:#ffa724;z-index:50}
    .half_pie_chart li:nth-of-type(2){background:#ffdb6d;z-index:45}
    .half_pie_chart li:nth-of-type(3){background:#b8d86b;z-index:40}

    .half_pie_chart li:nth-of-type(1){
        -webkit-transform:translate(-50%,-50%) rotate(-120deg);
        transform:translate(-50%,-50%) rotate(-120deg)
        }

    .half_pie_chart li:nth-of-type(2){
        -webkit-transform:translate(-50%,-50%) rotate(-60deg);
        transform:translate(-50%,-50%) rotate(-60deg)
        }

        .half_pie_chart h3{
            position:absolute;
            width:100%;
            top:20%;
            left:0;
            padding:0 60px;
            color:#fff;
            z-index:51
            }

        .half_pie_chart h3:nth-of-type(1){
            top:40%;
            text-align:left
            }

        .half_pie_chart h3:nth-of-type(3){
            top:40%;
            text-align:right
            }

        .half_pie_chart hr{
            position:absolute;
            top:50%;
            left:50%;
            width:180px;
            height:2px;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            background:#fff;
            outline:none;
            border:none;
            z-index:55
            }

    .bell_chart{
        border-bottom:1px solid #eee;
        border-left:1px solid #eee
        }

    .bell_chart img{
        position:relative;
        z-index:10
        }


    .bell_chart .mark{
        position:absolute;
        top:0;
        height:100%;
        width:1px;
        border-left:1px solid #f79594;
        z-index:20
        }

    .bell_chart .mark h3{
        margin:0 0 0 15px
        }

    .bell_chart .y-title{
        position:absolute;
        transform-origin:left top 0;
        -webkit-transform:rotate(-90deg) translateX(-50%);
        transform:rotate(-90deg) translateX(-50%);
        float:left;
        top:50%;
        left:-30px
        }

    .bell_chart .yvalues{
        position:absolute;
        width:100%;
        left:0;
        margin:0 0 -6px;
        padding:0 10px;
        text-align:left;
        font:10px/20px "Graphik",Helvetica,Arial,sans-serif;
        color:#999
        }

    .bell_chart .yvalues hr{
        position:relative;
        width:calc(100% + 20px);
        left:-10px;
        height:1px;
        background:#eee;
        border:none;
        outline:none
        }

    .bell_chart .x-title{
        position:absolute;
        bottom:-25px;
        left:-15px;
        text-align:left
        }

    .bell_chart .xvalues{
        position:absolute;
        top:0;
        height:100%;
        width:1px;
        border-left:1px solid #eee
        }

    .bell_chart .xvalues h3{
        position:absolute;
        bottom:-25px;
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%)
        }

    /*  4.3 CHART RISKS - END  */
    
    /*  4.4 CHART COSTS  */

    .half_circle_chart{
        width:400px;
        height:400px
        }

    .half_circle_chart .circle{
        position:absolute;
        width:100%;
        height:100%;
        overflow:hidden;
        clip:rect(0px,400px,200px,0px);
        background:#ddd;
        border-radius:100%
        }

    .half_circle_chart .circle .fill{
        position:absolute;
        top:50%;
        left:50%;
        width:400px;
        height:400px;
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        clip:rect(0px,400px,200px,0px);
        background:#9cbdbe;
        z-index:10
        }

    .half_circle_chart .circle .value{
        position:absolute;
        width:180px;
        height:180px;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        background:#fcfcfc;
        border-radius:100%;
        z-index:20
        }

    .half_circle_chart .circle .value h3{
        position:absolute;
        left:50%;
        bottom:50%;
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%);
        font-weight:400;
        font-size:30px;
        color:#555
        }

    .half_circle_chart h4{
        position:absolute;
        width:110px;
        text-align:center;
        top:55%;
        z-index:20
        }

        .half_circle_chart .average{
            position:absolute;
            width:400px;
            height:400px;
            top:50%;
            left:50%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            z-index:60
            }

        .half_circle_chart .average hr{
            position:absolute;
            width:110px;
            top:50%;
            left:0;
            height:2px;
            -webkit-transform:translate(0,-60%);
            transform:translate(0,-60%);
            background:#555;
            outline:none;
            border:none
            }

        .half_circle_chart .average h4{
            top:50%;
            left:-20%;
            -webkit-transform:rotate(-90deg);
            transform:rotate(-90deg);
            color:#555
            }

    .half_circle_chart .start{
        left:0
        }

    .half_circle_chart .end{
        right:0
        }

    .half_circle_chart[data-color="green"] .fill{
        background:#8ccc71
        }

    .half_circle_chart[data-color="orange"] .fill{
        background:#e6a949
        }

    .chart.text{
        max-width:600px;
        width:90%;
        text-align:left
        }

    .chart.text h3{
        text-transform:none;
        letter-spacing:0;
        text-align:left;
        font:20px/1em "Graphik",Helvetica,Arial,sans-serif;
        color:#555
        }

    .chart.text ul{
        list-style-type:square;
        list-style-position:inside;
        margin:13px 0 23px;
        font:14px/2em "Graphik",Helvetica,Arial,sans-serif;
        color:#999
        }

    /*  4.4 CHART COSTS - END  */

    /*  4.5 ANNOTATION  */

    .annotation{
        padding:5px 2px 3px 2px;
        color:inherit;
        background:rgba(250,250,103,.6);
        cursor:pointer
        }

    #annotation{
        position:fixed;
        top:0;
        right:0;
        width:100%;
        height:100vh;
        -webkit-transform:translateX(100%);
        transform:translateX(100%);
        opacity:0;
    	cursor:e-resize;
        z-index:200;
        transition:.6s
        }

    #annotation #annotation_ajax{
        position:fixed;
        top:0;
        right:0;
        height:100vh;
        width:420px;
        max-width:90%;
        overflow-y:scroll;
        padding:60px;
        background:#fff;
        box-shadow:0 0 20px 5px rgba(0,0,0,.1);
        cursor:auto;
        z-index:210
	    }

    html.annotated #annotation{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0)
        }

        #annotation_ajax h1{
            display:inline;
            margin:0 0 30px;
            padding:5px 2px 3px 2px;
            background:rgba(250,250,103,.6)
            }

    /*  4.5 ANNOTATION - END  */

/*  4.0 DASHBOARD - END  */

/*  5.0 SETTING  */

    /*  5.1 ACCOUNTS  */

    #page-settings h1{
        margin:-8px 0 22px
        }

    .account{
        margin:0 0 30px
        }

    .account:last-of-type{
        margin:0
        }

    .account .account-head{
        margin:0 0 30px;
        padding:0 15px;
        line-height:47px;
        height:45px;
        background:#eee
        }

    .account .account-head h2{
        display:inline-block;
        font:14px/45px "Graphik",Helvetica,Arial,sans-serif;
        }

    .account .account-head button{
        display:inline-block;
        float:right;
        font:14px/45px "Graphik",Helvetica,Arial,sans-serif;
        color:#0a9d9d
        }

    .account .questions{
        position:relative;
        margin:-7px 0 18px
        }

    .account .questions p{
        margin:0;
        padding-right:15px;
        font:500 14px/2em "Graphik",Helvetica,Arial,sans-serif;
        color:#999
        }

    .account .questions:after{
        content:"✓";
        position:absolute;
        top:0;
        right:0;
        font:500 14px/2em "Graphik",Helvetica,Arial,sans-serif;
        color:#01cf9c
        }

    .account .questions form{
        position:relative;
        display:none;
        margin:12px 0 0
        }

    .account .questions input[type="submit"]{
        content:"";
        position:absolute;
        display:block;
        width:45px;
        height:45px;
        top:0;
        right:0;
        background:url(../img/icon-arrow-right.svg) center/12px no-repeat;
        box-shadow:none;
        z-index:10
        }

        .account .questions.incorrect:after{
            content:"";
            display:block;
            width:8px;
            height:8px;
            margin:10px 0;
            border-radius:100%;
            background:#e6a949
            }

        .account .questions.incorrect form{
            display:block
            }

    #link_account_linking{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,153,153,.6);
        opacity:0;
        pointer-events:none;
        transition:.3s;
        z-index:200
        }

    #link_account_linking #link_account_info{
        position:fixed;
        top:50%;
        left:50%;
        -webkit-tranform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        padding:30px;
        text-align:center
        }

    #loader{
        position:relative;
        width:60px;
        height:60px;
        margin:0 auto 30px;
        text-indent:-9999em;
        font-size:10px;
        border-radius:50%;
        background:#fff;
        -webkit-animation:spinner .45s infinite linear;
        animation:spinner .45s infinite linear;
        -webkit-transform:translateZ(0);
        -ms-transform:translateZ(0);
        transform:translateZ(0)
        }

    #loader:before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:50%;
        height:50%;
        background:#009999;
        border-radius:100% 0 0 0
        }
    
    #loader:after{
        content:"";
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        width:75%;
        height:75%;
        border-radius:50%;
        margin:auto;
        background:#fff
        }

    @-webkit-keyframes spinner{
        0%{
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
        }
        100%{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
        }
    }

    @keyframes spinner{
        0%{
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg)
        }
        100%{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg)
        }
    }

        html.link_account_linking #link_account_linking{
            opacity:1;
            pointer-events:auto
            }

    /*  5.1 ACCOUNTS - END  */

    /*  5.2 FEEDBACKS  */

    #feedbacks{
        margin:60px 0 0
        }

    #feedbacks p{
        margin:22px 0 8px
        }

    #feedbacks .rating{
        margin:0;
        padding:0;
        list-style:none;
        unicode-bidi:bidi-override;
        direction:rtl;
        text-align:left
        }

    #feedbacks .rating li{
        display:inline-block;
        position:relative;
        margin:0 10px 0 0;
        font-size:24px;
        cursor:pointer
        }

    #feedbacks .rating li:before{
        content:"\2605";
        position:absolute;
        color:transparent;
        pointer-events:none;
        transition:.15s
        }

    #feedbacks .rating > li:hover:before,
    #feedbacks .rating > li:hover ~ li:before,
    #feedbacks .rating > li.active:before,
    #feedbacks .rating > li.active ~ li:before{
        color:#e5c100
        }

    #feedbacks .cta{
        margin:30px 0 0
        }

    /*  5.2 FEEDBACKS - END  */

/*  5.0 SETTING - END  */

/*  9.0 ANIMATION  */

@-webkit-keyframes fadein{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}

@keyframes fadein{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}

.css_fadein{
    opacity:1;
    // pointer-events:auto;
    -webkit-animation:fadein .6s both;
    animation:fadein .6s both
    }

/*  9.0  ANIMATION - END  */

/*  10.0  RESPONSIVE  */

@import url("responsive.css");

/*  10.0  RESPONSIVE  